@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');



.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.contacthead {
  font-family: 'Anton',
  sans-serif;
  color: black;
  font-size: 5rem;
  font-weight: 400;
}

.contactsubhead {
  color: #2e263d;
  font-family: Product Sans;
  font-size: 2.5rem;
}

.contactlisthead {
  color: #ff0037;
  font-family: 'Raleway',sans-serif;
  
}

.contactlist {
  font-family: 'Anton' !important;
  font-size: 5rem !important;
}

.contactaddr {
  font-family: 'Product Sans';
  font-size: 1.5rem;
  text-align: center;

}


.contactaddrcard {
  box-shadow: 0 2px 18px rgba(0, 0, 5, 0.281);
  border: 2px solid #ffffff86;
}

.contactCard{
  border-right: 5px solid black;
}
.gridCard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.ourmap {
  border-radius: 10px;
}