.splash{
  position: fixed;
  display: block;
}
.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9; 
}

.centering{
  position: absolute;
  left: 50%;
  text-align:center;
  margin: 0 auto;
  vertical-align: middle; 
  padding-bottom: 5%;
}

.cybertitle {
  display: inline-block;
}

.cybertitletext {
  font-family: 'Anton', sans-serif; 
  left: 20%;
  top: 30%;
  position: fixed;
  font-size: 500%;
  display:table;
  text-align: center;
  padding: 25px;
  border: 11px solid #ffffff;
  color: black;
  z-index: 9;
}

.datetext {
  font-family: 'Anton', sans-serif; 
  left: 16%;
  top: 70%;
  position: fixed;
  font-size: 300%;
  display: table;
  margin: 0 auto;
  text-align: center;
  color: black;
  z-index: 9;
}

.testtext {
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 500%;
  padding: 25px;
  border: 11px solid black;
  color: black;
}

.testsplash {
  z-index: 9;
  margin: 0 auto;
  width: 100%;


}

.testdatetext {
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 300%;
  padding-top: 20px;
  color: black;
  
}

.background-video {
 position: 'absolute';
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 
}