.overlayblack {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.514);
}

.centering{
  position: absolute;
  left: 50%;
  text-align:center;
  margin: 0 auto;
  vertical-align: middle; 
  padding-bottom: 5%;
}

.logo1 {
  position: absolute;
  left: 80px;
  top: 100px;
  z-index: 1;
}

.logo2 {
  position: absolute;
  right: 80px;
  top: 92px;
  z-index: 1;
}

.logomain {
  margin-top: 5vh;
  padding: 10px;
}

.centeringdiv {
   margin: 0 auto;
   text-align: center;
   width: 100%;
}

.cybertitle {
  display: inline-block;
}

.cybertitletext {
  font-family: 'Anton', sans-serif; 
  left: 20%;
  top: 30%;
  position: fixed;
  font-size: 500%;
  display:table;
  text-align: center;
  padding: 25px;
  border: 11px solid #ffffff;
  color: whitesmoke;
  z-index: 9;
}

.datetext {
  font-family: 'Anton', sans-serif; 
  left: 16%;
  top: 70%;
  position: fixed;
  font-size: 300%;
  display: table;
  margin: 0 auto;
  text-align: center;
  color: black;
  z-index: 9;
}

.testtext {
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 12vw;
  padding: 25px;
  border: 11px solid whitesmoke;
  color: white;
}

.testsplash {
  z-index: 9;
  margin: 0 auto;
  width: 100%;
  padding-top: 35vh;
}

.testdatetext {
  font-weight: 100;
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 5vh;
  padding-top: 20px;
  color: white;
  text-align: center;
}

.background-video {
 position: 'absolute';
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 
}

@media screen and (max-width: 420px) {
  .logomain {
   margin-top: 5vh;
   padding-left: 40px;
   padding-right: 40px;
   padding-top:60px;
   padding-bottom: 90px;
  }
}

@media screen and (min-width: 800px) {
  .logomain {
    margin-top: 5vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}