.overlayblack {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.514);
}

.centering{
  position: absolute;
  left: 50%;
  text-align:center;
  margin: 0 auto;
  vertical-align: middle; 
  padding-bottom: 5%;
}

.logo1 {
  position: absolute;
  left: 20px;
  top: 70px;
  z-index: 1;
}

.logo2 {
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1;
}


.cybertitle {
  display: inline-block;
}

.cybertitletext {
  font-family: 'Anton', sans-serif; 
  left: 20%;
  top: 30%;
  position: fixed;
  font-size: 500%;
  display:table;
  text-align: center;
  padding: 25px;
  border: 11px solid #ffffff;
  color: whitesmoke;
  z-index: 9;
}

.datetext {
  font-family: 'Anton', sans-serif; 
  left: 16%;
  top: 70%;
  position: fixed;
  font-size: 300%;
  display: table;
  margin: 0 auto;
  text-align: center;
  color: black;
  z-index: 9;
}

.testtext {
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 12vw;
  padding: 25px;
  border: 11px solid whitesmoke;
  color: white;
}

.testsplash {
  z-index: 9;
  margin: 0 auto;
  width: 100%;
  padding-top: 35vh;
}

.testdatetext {
  margin: 0 auto;
  display:table;
  z-index: 15;
  font-family: 'Anton', sans-serif;
  font-size: 4.5vw;
  padding-top: 20px;
  color: white;
  text-align: center;
}

.background-video {
 position: 'absolute';
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 
}