@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

.trans{
  background-color: transparent
}


.fontfam {
  font-size: 20px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
